/*

MAIN COLORS

Main Black: #0A0908
Secondary Red: #9B1D20
Text White: #FCFCFC

*/
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  padding: 0;
  margin: 0;
  background-color: #0a0908;
  color: #fcfcfc;
  font-family: "Nunito", sans-serif;
}

.cnt-top {
  margin-top: 3rem;
}
